@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit, sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

.animate-slide:hover {
  animation-play-state: paused;
}
